<div class="m_nav">
  <ul>
    <li><a href="#">我的复习</a></li>
    <li><a href="#">真题</a></li>
    <li><a href="#">技巧</a></li>
    <li><a href="#">名师视频</a></li>
    <li><a href="#" class="hover">答疑</a></li>
  </ul>
</div>
