<input type="hidden" value="<%= params[:category] %>" id="sun_category" />
<div class="payment" id="payment_sun" style="display: none">
  <span class="close" id="close_sun">关闭</span>
  <div class="pay_title">
    <h1>你将通过一下方式获得小太阳：</h1>
    <div class="pay_list"><p>1）赶考每日签到。</p>
      <a href="javascript:void(0)"  class="pay_sign">签到</a>
      <span class="s_sun">+1</span>
    </div>
    <div class="pay_list">2）把赶考分享给好友。<a href="#" class="pay_sign">人人</a><a href="#" class="pay_sign">腾讯</a><a href="#" class="pay_sign">新浪</a><span class="s_sun">+5</span></div>
    <div class="pay_list">3）发表原创技巧。<a href="#" class="pay_sign">发表</a><span class="s_sun">+2</span></div>
    <div class="pay_list">4）回答问题。<a href="#" class="pay_sign">去回答</a><span class="s_sun">+2</span></div>
    <div class="pay_list">5）系统纠错。<span class="s_sun">+2</span></div>
    <div class="pay_list">6）充值小太阳。</div>
  </div>
  <div class="pay_box">
    <h1 class="pay_way_sun">充值小太阳：</h1>
    <div class="paySun">
      <input name=""  id="sun_fee"  class="paySun_input" />
      <a href="javascript:void(0);" class="pay_a_tow" id="sunpay_a_tow" onclick="sun_charge()"></a>
    </div>
    <span class="orange">温馨提示：支付宝充值免手续费<span class="float_right">一个小太阳等于一元</span></span>
  </div>
</div>


<div class="tab" id="tab_sun" style="display: none;">
  <span class="close" id="tab_close">关闭</span>
  <p>小太阳充值</p>
  <div class="btn_center_double"><a class="b_btn" onclick="window.open('/logins/alipay_sun?category='+<%= params[:category] %>+'&total_fee='+$('#sun_fee').val(),'_blank','height=750,width=1000,left=200,top=50');">重新支付</a>
    <a class="b_btn" onclick="window.location.reload()">完成充值</a></div>
</div>
