<div class="m_content">
  <div class="mc_box">
    <div class="mc_menu">
      <ul>
        <li class="hover">听力技巧</li>
        <li>单词技巧</li>
        <li>阅读技巧</li>
        <li>口语技巧</li>
      </ul>
      <div class="search">
        <div class="search_box"><input name="" type="text"><button>search</button></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="mc_menu_box">
      <div class="article_area">
        <h1 class="article_h">《怎么样在快速有效的提升听力能力》</h1>
        <div class="article_p open">
          <p>说实话,所谓的听烂一盘带子是不错的方法,真正在做的时候很难坚持下去的..而且已经到四级的份儿上了,如果还只听一盘带子肯定是不够的..平时能多听就多听一些..</p>
          <p>平时休息的时候可以看一些外文电影..电视剧相对比较好,因为比较标准..我向你推荐<绝望主妇>里面的口语非常的好,非常标准,我看它的时候可以不怎么用看字幕的.</p>
          <p>到了最近冲刺一个月的的时候再好好听一下真题..当然,真题是要反复听的..如果你有一定的听力水准,,冲刺的时候练听力提高很快的平时休息的时候可以看一些外文电影..电视剧相对比较好,因为比较标准..我向你推荐<绝望主妇>里面的口语非常的好,非常标准,我看它的时候可以不怎么用看字幕的</p>
          <div class="pageTurn_btn">
            <a href="#" class="page_prev">上一页</a>
            <a href="#" class="p_circle hover">1</a>
            <a href="#" class="p_circle">2</a>
            <a href="#" class="p_circle">3</a>
            <a href="#" class="page_next">下一页</a>
          </div>
        </div>

      </div>
      <div class="article_area">
        <h1 class="article_h">《怎么样在快速有效的提升听力能力》</h1>
        <div class="article_p" style="display: none;">
          <p>说实话,所谓的听烂一盘带子是不错的方法,真正在做的时候很难坚持下去的..而且已经到四级的份儿上了,如果还只听一盘带子肯定是不够的..平时能多听就多听一些..</p>
          <p>平时休息的时候可以看一些外文电影..电视剧相对比较好,因为比较标准..我向你推荐<绝望主妇>里面的口语非常的好,非常标准,我看它的时候可以不怎么用看字幕的.</p>
          <p>到了最近冲刺一个月的的时候再好好听一下真题..当然,真题是要反复听的..如果你有一定的听力水准,,冲刺的时候练听力提高很快的平时休息的时候可以看一些外文电影..电视剧相对比较好,因为比较标准..我向你推荐<绝望主妇>里面的口语非常的好,非常标准,我看它的时候可以不怎么用看字幕的</p>
        </div>
      </div>
      <div class="article_area">
        <h1 class="article_h">《怎么样在快速有效的提升听力能力》</h1>
        <div class="article_p" style="display: none;">
          <p>说实话,所谓的听烂一盘带子是不错的方法,真正在做的时候很难坚持下去的..而且已经到四级的份儿上了,如果还只听一盘带子肯定是不够的..平时能多听就多听一些..</p>
          <p>平时休息的时候可以看一些外文电影..电视剧相对比较好,因为比较标准..我向你推荐<绝望主妇>里面的口语非常的好,非常标准,我看它的时候可以不怎么用看字幕的.</p>
          <p>到了最近冲刺一个月的的时候再好好听一下真题..当然,真题是要反复听的..如果你有一定的听力水准,,冲刺的时候练听力提高很快的平时休息的时候可以看一些外文电影..电视剧相对比较好,因为比较标准..我向你推荐<绝望主妇>里面的口语非常的好,非常标准,我看它的时候可以不怎么用看字幕的</p>
        </div>
      </div>
      <a href="#" class="more">更多&gt;&gt;</a>
    </div>

  </div>
  <div class="clear"></div>

</div>
