<div class="m_nav">
  <ul>
    <li><a href="#">复习计划</a></li>
    <li><a href="#" class="hover">真题</a></li>
    <li><a href="#">知识库</a></li>
    <li><a href="#">视频</a></li>
    <li><a href="#">答疑</a></li>
  </ul>
</div>
<div class="m_content">
  <h1 class="mc_title"></h1>
  <div class="mc_box">
    <div class="zhenti_list">
      <a href="#"><img src="/assets/zhenti.png"><h2>2012年6月四级真题</h2></a>
    </div>
    <div class="zhenti_list">
      <a href="#"><img src="/assets/zhenti.png"><h2>2012年6月四级真题</h2></a>
    </div>
    <div class="zhenti_list">
      <a href="#"><img src="/assets/zhenti.png"><h2>2012年6月四级真题</h2></a>
    </div>
  </div>
  <div class="clear"></div>
  <div class="pn_btn">
    <button>上一页</button>
    <button>下一页</button>
  </div>
</div>
