<div class="tishi_box">
  <div class="ts_img"><img src="assets/s_face.png" /></div>
  <div class="ts_text">已经全部掌握了开始检验一下吧！</div>
  <div class="ts_btn_box"><button class="b_btn">开始检查</button></div>
</div>