<div class="pt_title">
  <h1>阅读练习</h1>
  <div class="pt_time">00:00:00</div>
  <span class="t_number">2/20</span>
  <span class="close">关闭</span>
</div>
<div class="mc_box">
  <div class="words_con">
    <div class="text_con">
      <%= @result[:description] %>
    </div>

  </div>
  <div class="words_func">
    <a href="#" title="下一步" class="next tooltip">Next</a>
  </div>
</div>