<div class="pt_title">
  <h1>短语学习</h1>
  <div class="pt_time">00:00:00</div>
  <span class="t_number">2/20</span>
  <span class="close">关闭</span>
</div>
<div class="mc_box">
  <%= render :partial => "learn/time_up" %>
  <div class="words_func">
    <h2>请拖入单词组成完整句子。</h2>
    <a href="javascript:backspace();" title="点击重做" class="reset tooltip">重置</a>
  </div>
  <div class="words_con">
    <div class="w_question">
      <div id="current" class="wq_drag"></div>
      <ul id="select" class="drag_ul">
      </ul>
      <div class="clear"></div>
    </div>
  </div>
  <div class="words_func">
    <a href="#" title="点击核对正确答案" class="hedui tooltip">核对</a>
    <a href="#" title="下一步" class="next tooltip">Next</a>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    var sentence = "<%= @result[:sentence].en_mean %>".replace(/"/g," ").replace(/:/g," ").replace(/;/g," ").replace(/\?/g," ").replace(/!/g," ").replace(/,/g," ").replace(/\./g," ").replace(/  /g," ");
    var _history = new Array();
    arr_to_choice(str2arr(sentence));
    function str2arr(str){
      if(str==null)return [];
      var a = str.split(" ");
      var r = [];
      var x = 0;
      for(var i=0;i<a.length;i++){
        if(a[i]!=""){
          r[x] = a[i];
          x++;
        }
      }
      return r;
    }

    //将句子中的词拆分成单个按钮
    function arr_to_choice(arr){
      for(var i=0;i<arr.length;i++){
        document.getElementById("select").innerHTML +=
          "<li id='choice"+(i+1)+"\" onclick='javascript:choose("+(i+1)+")'>"
          +arr[i]+"</li>";
      }
      $("#select").reorder();
    }

    function choose(m){
      $("#choice"+m).hide();
      _history.push(m);
      document.getElementById("current").innerHTML += ""+$("#choice"+m).html()+" ";
    }

    //撤销
    function backspace(){
      if(_history.length==0)return;
      var m = _history.pop();
      $("#choice"+m).show();
      var current = $("#current").html().split(" ");
      current.pop();
      current.pop();
      if(current.length==0){
        $("#current").html("");
      }else{
        $("#current").html(""+current.join(" ")+" ");
      }
    }
  
    function callback(){
      $("#timeup").show();
    }
  })
</script>