<div class="pt_title">
  <h1>单词学习</h1>
  <div class="pt_time">00:00:00</div>
  <span class="t_number">2/20</span>
  <span class="close">关闭</span>
</div>
<div class="mc_box">
  <%= render :partial => "learn/tip" %>
  <div class="words_func">
    <h2>请填入正确的单词。</h2>
    <input type="hidden" id="SID" value="<%= @result[:word].name %>" />
  </div>
  <div class="words_con">
    <div class="w_question"><%= @result[:sentence] %></div>
    <input name="" type="text" class="answer_input" onfocus="$('.trueFalse').html('')" />
    <div class="trueFalse"></div>
  </div>
  <div class="words_func">
    <a href="javascript:hedui()" title="点击核对正确答案" class="hedui tooltip">核对</a>
  </div>
</div>
<script type="text/javascript">
  function hedui(){
    if($("#SID").attr("value").toLowerCase() == $(".answer_input").attr("value").trim().toLowerCase()){
      $(".trueFalse").html("<img src='assets/true.png' />");
      clearInterval(myTime.timeId);
      send_message("/learn/jude_word?flag=true&redirct=true");
    }else{
      $(".trueFalse").html("<img src='assets/false.png' />");
      clearInterval(myTime.timeId);
      send_message("/learn/jude_word?flag=false&redirct=true");
    }
  }
  function callback(){
    $("#timeup").show();
    send_message("/learn/jude_word?&flag=false");
  }
</script>