<div class="pt_title">
  <h1>单词学习</h1>
  <div class="pt_time">00:00:00</div>
  <span class="t_number"></span>
  <span onclick="close_pop()" class="close">关闭</span>
</div>
<div class="mc_box">
  <%= render :partial => "learn/tip" %>
  <div class="words_func">
    <h2>请填入正确的单词。</h2>
    <input type="hidden" id="SID" value="<%= @result[:word].name %>" />
  </div>
  <div class="words_con">
    <% leving_word = leving_word(@result[:sentence], @result[:word].name.strip) %>
    <div class="w_question"><%= @result[:sentence].gsub("#{leving_word}", "_______").
                      gsub("#{leving_word.capitalize}", "_______") %></div>
    <input name="" type="text" class="answer_input" />
  </div>
  <div class="words_func">
    <a onclick="hedui()" title="点击核对正确答案" class="hedui tooltip">核对</a>
    <a onclick="jude('/learn/jude_word','false','true')" title="下一题" class="next tooltip">Next</a>
  </div>
</div>
<div class="tip_mask" style="display: none;"></div>
<script type="text/javascript">
  function hedui(){
    if($("#SID").val().toLowerCase() == $.trim($(".answer_input").val()).toLowerCase()){
      //clearInterval(myTime.timeId);
      window.clearInterval(local_timer);
      jude("/learn/jude_word","true","false");
    }else{
      //clearInterval(myTime.timeId);
      window.clearInterval(local_timer);
      jude("/learn/jude_word","false","false");
    }
  }
  function callback(){
    show_tip("#timeup");
    jude("/learn/jude_word","false","false");
  }
</script>