<div id="wrong" class="tishi_box" style="display: none">
  <div class="ts_img"><img src="assets/s_face.png" /></div>
  <div class="ts_text">答错了！</div>
  <div class="ts_btn_box"><button onclick="study()" class="b_btn">学习一下</button><button onclick="next()" class="b_btn">直接下题</button></div>
</div>