<%= javascript_include_tag "video_skill" %>
<input id="info" type="hidden" value= '<%= personal_info %>' />
<div class="plan_box">
  <span class="b_triangle"><img src="/assets/b_triangle.png" /></span>
  <div class="plan_top">
    <div class="clock_bg"><img src="/assets/clock_bg.png" /></div>
    <h1 class="plan_h1">复习计划正在生成中…</h1>
  </div>
  <div class="plan_bottom">
    <h2 class="plan_h2">利用这些时间请完善一下个人资料吧！</h2>
    <%= form_for :personal_info,:url=>"/plans/update_user",:html=>{:id=>"p_infos"} do %>
      <input type="hidden" id="category_id" name="category_id" value="<%= params[:category_id] %>" />
      <div class="user_data">
        <label>用户名:</label><input name="p_name" id="p_name" type="text" value="" />
      </div>
      <div class="user_data">
        <label>邮箱:</label><input name="p_email" id="p_email" type="text" /> <span class="red">*</span>
      </div>
      <div class="user_data">
        <label>QQ:</label><input name="p_qq" id="p_qq" type="text" />
      </div>
    <% end %>
    <p class="red center">*请把资料填写完整。</p>
    <button class="fs_btn" onclick="update_info()">保存</button>
  </div>
</div>
<script type="text/javascript">
  $.ajax({
    async : true,
    type : "POST",
    url : "/plans/init_plan.json",
    dataType:  "json",
    data : {
      plan_infos : $("#info").val(),
      category_id : $("#category_id").val()
    }
  })
</script>