<div class="tab" id="start_tab" style="display: none;">
  <p>单词训练按照艾宾浩斯记忆曲线，分为三个阶段，为了达到最佳记忆效果，请尽量一次完成！</p>
  <div class="btn_center_double ">
    <button class="b_btn" onclick="dispatch(<%= params[:category] %>);$('#start_tab').hide();" >开始</button>
    <button class="b_btn" onclick="$('#start_tab').hide();">取消</button></div>
</div>