<div class="tab" id="start_tab_ts" style="display: none;">
  <p>你还没有复习方案，赶快为你制定一个属于自己的复习计划吧！</p>
  <div class="btn_center_double ">
    <button class="b_btn" onclick="javascript:show_kaoyan_frame();">开始</button>
    <button class="b_btn" onclick="$('#start_tab_ts').hide();">取消</button></div>
</div>