<%= render :partial => "/layouts/nav" %>
<div class="m_content">
  <div class="mc_box">
    <div class="plan_box">
      <span class="b_triangle"><img src="/assets/b_triangle.png"/></span>
      <div class="plan_top">
        <div class="user_pic_fs"><img src="/assets/user_pic.jpg"/></div>
        <h1 class="fenshu_h1">当前估分：<span>73</span></h1>
      </div>
      <div class="plan_bottom">
        <ul class="fs_ul">
          <li>
            <h2>我要高分：</h2>
            <input name="" type="text" class="fs_input" value="目标分数" />
            <a href="#" class="fs_xz hover">选中</a>
          </li>
          <li class="marginLeft">
            <h2>过关万岁：</h2>
            <span class="fs_span">425</span>
            <a href="#" class="fs_xz">选中</a>
          </li>
        </ul>
        <button class="fs_btn">生成复习方案</button>
      </div>

    </div>
  </div>
  <div class="clear"></div>

</div>

<div class="tab" style="display:none">
  <span class="close">关闭</span>
  <div class="tab_loginArea">
    <h1>会员登录</h1>
    <ul>
      <li><a href="#" class="t_login_sina">sina</a></li>
      <li><a href="#" class="t_login_renren">renren</a></li>
      <li><a href="#" class="t_login_qq">qq</a></li>
    </ul>
  </div>
</div>
<script type="text/javascript">

</script>
