<div class="recommend">你还没有进行前测，无法为你生成个性化复习方案，赶快进行<a href="#">前测</a>吧！</div>
<div class="m_nav">
  <ul>
    <li><a href="#" class="hover">我的复习</a></li>
    <li><a href="#">真题</a></li>
    <li><a href="#">技巧</a></li>
    <li><a href="#">名师视频</a></li>
    <li><a href="#">答疑</a></li>
  </ul>
</div>
<div class="m_content">
  <h1 class="mc_title">基础阶段</h1>
  <div class="mc_box">
    <div class="plan_list">
      <h1 class="pl_fk pl_m_bg"><span class="pl_img"><img src="/assets/dui.png"></span>任务一</h1>
      <div class="pl_text">
        <span>单词(20)&nbsp;&nbsp;&nbsp;词组(10)&nbsp;&nbsp;&nbsp;短语(10)</span>
        <p>估计耗时：20分钟</p>
      </div>
    </div>
    <div class="plan_list">
      <h1 class="pl_fk pl_m_bg"><span class="pl_img"><img src="/assets/dui.png"></span>任务二</h1>
      <div class="pl_text">
        <span>单词(20)&nbsp;&nbsp;&nbsp;词组(10)&nbsp;&nbsp;&nbsp;短语(10)</span>
        <p>估计耗时：20分钟</p>
      </div>
    </div>
    <div class="plan_list">
      <h1 class="pl_fk pl_l_bg"><span class="pl_img"><img src="/assets/kai.png"></span>任务三</h1>
      <div class="pl_text">
        <span>单词(20)&nbsp;&nbsp;&nbsp;词组(10)&nbsp;&nbsp;&nbsp;短语(10)</span>
        <p>估计耗时：20分钟</p>
      </div>
    </div>
    <div class="plan_list">
      <h1 class="pl_fk pl_d_bg"><span class="pl_img"><img src="/assets/suo.png"></span>任务四</h1>
      <div class="pl_text">
        <span>单词(20)&nbsp;&nbsp;&nbsp;词组(10)&nbsp;&nbsp;&nbsp;短语(10)</span>
        <p>估计耗时：20分钟</p>
      </div>
    </div>
    <div class="plan_list">
      <h1 class="pl_fk pl_d_bg"><span class="pl_img"><img src="/assets/suo.png"></span>任务五</h1>
      <div class="pl_text">
        <span>单词(20)&nbsp;&nbsp;&nbsp;词组(10)&nbsp;&nbsp;&nbsp;短语(10)</span>
        <p>估计耗时：20分钟</p>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="pn_btn">
    <button>上一页</button>
    <button>下一页</button>
  </div>
</div>
