<div class="guideMask"></div>
    <div class="guideBox">
        <div class="guide01">
             <img src="/assets/guide01.png"/>
             <div class="guide_a"><a href="#" class="guide_next">下一条</a><a href="#" class="guide_out">跳过</a></div>
        </div>

        <div class="guide02">
             <img src="/assets/guide02.png"/>
             <div class="guide_a"><a href="#" class="guide_next">下一条</a><a href="#" class="guide_out">跳过</a></div>
        </div>

        <div class="guide03">
             <img src="/assets/guide03.png"/>
             <div class="guide_a"><a href="#" class="guide_next">下一条</a><a href="#" class="guide_out">跳过</a></div>
        </div>

        <div class="guide04">
             <img src="/assets/guide04.png"/>
             <div class="guide_a"><a href="#" class="guide_next">下一条</a><a href="#" class="guide_out">跳过</a></div>
        </div>

        <div class="guide05">
             <img src="/assets/guide05.png"/>
             <div class="guide_a"><a href="#" class="guide_out">结束</a></div>
        </div>
    </div>
