<!--浮动QQ客服代码开始 -->
<div class="online_qq">
  <p><a target="_blank" href=" http://wpa.qq.com/msgrd?v=3&uin=2568830556&site=qq&menu=yes">
      <img border="0" src=" http://wpa.qq.com/pa?p=2:2568830556:41" alt="点击这里给我发消息" title="点击这里给我发消息"/>
    </a>
  </p>
</div>
<!--浮动QQ客服代码结束-->