<div class="change">
  <ul>
    <li><a href="http://s.click.taobao.com/t_11?e=%2BtSC5ziSlQIKXTum23VHLUx2Mi9BvFxTCg7CN9kKD8HJdox0eUoImgi5Ng%3D%3D&p=mm_32461315_3337046_10828776" target="_blank"><img src="/assets/ad1.jpg"/></a></li>
    <li><a href="http://s.click.taobao.com/t_11?e=%2BtSC5ziSlQIKXTum23VHLUx2Mi9BvFxTCg7CN9kKD8HJdox0eUoImgi5Ng%3D%3D&p=mm_32461315_3337046_10828776" target="_blank"><img src="/assets/ad2.jpg"/></a></li>
    <li><a href="http://s.click.taobao.com/t_11?e=%2BtSC5ziSlQIKXTum23VHLUx2Mi9BvFxTCg7CN9kKD8HJdox0eUoImgi5Ng%3D%3D&p=mm_32461315_3337046_10828776" target="_blank"><img src="/assets/ad3.jpg"/></a></li>
    <li><a href="http://s.click.taobao.com/t_11?e=%2BtSC5ziSlQIKXTum23VHLUx2Mi9BvFxTCg7CN9kKD8HJdox0eUoImgi5Ng%3D%3D&p=mm_32461315_3337046_10828776" target="_blank"><img src="/assets/ad4.jpg"/></a></li>
  </ul>
</div>
