<% category_id=params[:category].nil? ? 2 : params[:category].to_i %>
<h1>进步风云榜</h1>
<table width="100%">
  <tr class="frist_tr">
    <td class="frist_td">&nbsp;</td>
    <td>前测</td>
    <td>当前</td>
  </tr>
  <%rank_lists(category_id).each do |rank|%>
  <tr class="find_tr">
    <td class="frist_td"><img src="<%=rank.img_url  %>" width="25" height="25" title="<%= rank.name %>" /></td>
    <td class="red"><%= rank.start_score %></td>
    <td class="red"><%= rank.rank_score.to_i+rank.start_score.to_i %></td>
  </tr>
  <% end %>
</table>

