<% category_id=params[:category].nil? ? 2 : params[:category].to_i %>
<h1>进步风云榜</h1>
<table width="100%">
  <tr class="frist_tr">
    <td class="frist_td">&nbsp;</td>
    <td>前测</td>
    <td>当前</td>
  </tr>
  <%rank_lists(category_id).each_with_index do |rank,index|%>
  <tr class="find_tr">
    <td class="frist_td"><img src="<%=rank.img_url  %>" width="40" height="40" title="<%= rank.name %>" /></td>
    <td <%if index==0 %>class="red"<%elsif index==1%>class="orange"<%elsif index==2 %>class="yellow"<%end%>><%= rank.start_score %></td>
    <td <%if index==0 %>class="red"<%elsif index==1%>class="orange"<%elsif index==2 %>class="yellow"<%end%>><%= rank.rank_score.to_i+rank.start_score.to_i %></td>
  </tr>
  <% end %>
</table>

