<div class="ipod_ad_tab" style="display: none;">
  <div class="ipod_a">
    <a href="/plans?category=<%= params[:category] %>" class="ipod_rw">去做任务</a>
    <a href="/pay?category=<%= params[:category] %>" class="ipod_sj">去升级</a></div>
</div>