 <ul>
    <li><a href="javascript:void(0);" class="t_login_renren"
            onclick ="javascript:window.open('/logins/request_renren', '_blank', 'height=500,width=600,left=300,top=100');"></a></li>
 <li><a href="javascript:void(0);" class="t_login_sina"
            onclick ="javascript:window.open('/logins/request_sina', '_blank', 'height=500,width=600,left=300,top=150');"></a></li>
    <li><a href="javascript:void(0);" class="t_login_qq"
            onclick ="javascript:window.open('/logins/request_qq', '_blank', 'height=480,width=510,left=300,top=150');"></a></li>
  </ul>
