<!--<ul>
  <li><a href="javascript:void(0)" class="t_login_sina"  onclick ="window.open('/logins/request_sina', '_blank', 'height=500,width=600,left=300,top=150');">sina</a></li>
  <li><a href="javascript:void(0)" class="t_login_renren" onclick ="window.open('/logins/request_renren', '_blank', 'height=500,width=600,left=300,top=100');">renren</a></li>
  <li><a href="javascript:void(0)" class="t_login_qq" onclick ="window.open('/logins/request_qq', '_blank', 'height=480,width=510,left=300,top=150');">qq</a></li>
</ul> -->

<ul>
  <li><a href="javascript:void(0)" onclick="tishi_alert('9月13日正式发布，敬请期待。');" class="t_login_sina" >sina</a></li>
  <li><a href="javascript:void(0)" onclick="tishi_alert('9月13日正式发布，敬请期待。');" class="t_login_renren">renren</a></li>
  <li><a href="javascript:void(0)" onclick="tishi_alert('9月13日正式发布，敬请期待。');" class="t_login_qq" >qq</a></li>
</ul>