<ul>
  <li><a href="javascript:void(0);" class="renren"
         onclick ="javascript:window.open('/logins/request_renren', '_blank', 'height=500,width=600,left=300,top=100');">人人网<br />帐号登录</a></li>
  <li><a href="javascript:void(0);" onclick="tishi_alert('9月13日正式发布，敬请期待。');" class="sina">新浪微博<br />帐号登录</a></li>
  <li><a href="javascript:void(0);" class="qq"
         onclick ="javascript:window.open('/logins/request_qq', '_blank', 'height=480,width=510,left=300,top=150');">腾讯QQ<br />帐号登录</a></li>
</ul>